html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

/*pseudo classes - before/after, makes sure element before & after has no content*/
blockquote:before, blockquote:after, 
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET ENDS */

body {
background-color: #e0af79;
}

.backgroundright {
position: fixed;
right: 0;
top: 0;
z-index: -2;
}

.backgroundleft {
position: fixed;
left: 0;
top: 0;
z-index: -2;
}

.backgroundrabbit {
position: fixed;
left: 2%;
bottom: 0;
z-index: -2;
}

.backgroundbottomright {
position: fixed;
right: 0;
bottom: 0;
z-index: -1;
}

.backgroundbottomleft {
position: fixed;
left: 0;
bottom: 0;
z-index: -3;
}

/*background elements end*/

.content {
width: 960px;
margin-left: auto;
margin-right: auto;
}

header {
text-align: center;
} 

.bandName {
margin-left: auto;
margin-right: auto;
width: 70%;
clear: both;
border: 5px double white;
}

.top_navigation_bar {
width: 576px;
margin: auto;
margin-bottom: 0.5%;
clear: both;
border-width: 10px;
padding: 2%;
-moz-border-image:url("img/nav_border_2.png") 0 25 stretch; /* Firefox */
-webkit-border-image:url("img/nav_border_2.png") 0 25 stretch; /* Safari */
-o-border-image:url("img/nav_border_2.png") 0 25 stretch; /* Opera */
border-image:url("img/nav_border_2.png") 0 25 stretch;
text-align:center;
/*background-image:url("img/bg_tan_transparent.png");
border: 5px double white;*/
}

.topnav {
margin: 0 2px;
list-style-type: none;
}

ul li {
display: inline-block;
}

a:hover .topnav {
background-color: black;
}

.form {
width: 680px;
color: white;
background-image:url("img/bg_black_transparent.png");
margin-right: 2px;
float: left;
padding: 20px;
}

h2 {
text-align: center;
font-size: 2em;
line-height: 1.3em;
}

h4 {
font-family: monospace;
font-size: 1.5em;
padding: 20px 0 0 0;
text-decoration: underline;
}

fieldset {
border-bottom: 1px solid white;
padding: 20px 20px 20px 0;
}

legend {
font-family: monospace;
font-size: 2em;
padding-top: 20px;
text-decoration: underline;
}

.row {
margin: 10px 0 10px 0;
}

label {
font-family: monospace;
padding: 5px 0 5px 0;
text-align: right;
position: relative;
right: 10px;
float: left;
width: 200px;
}

.textbox {
width: 200px;
position: relative;
left: 20px;
}

.toggle {
position: relative;
left: 20px;
}

button {
margin: 20px 120px 20px 220px;
width: 100px;
height: 30px;
left: 150px
}

textarea {
margin-left: 220px;
}

.socialicons {
width: 30px;
height: 30px;
float: right;
margin-right: 10px;
float: right;
padding-bottom: 5px;
}

.audioSet {
width: 225px;
float: right;
text-align: left;
background-image: url("img/bg_black_transparent.png");
}

.speaker {
width: 130px;
padding: 5px;
position: relative;
margin: auto;

}

.playing {
margin-top: 0.5%;
margin-left: 2%;
margin-right: 2%;
color: white;
float: left;
}

a {
text-decoration: none;
}

a:hover {
color: white;
font-weight: bold;
text-decoration: underline;
}

.playing ol {
list-style-type: decimal;
line-height: 150%;
color: white;
font-style: italic;
padding-left: 10%;
}

/*
.playing{
height:20px;
overflow:hidden;
}

.playing:hover{
height:auto;
}

.playing li {
dis play: none;
}

a:hover .playing  li {
display: block;
}

*/


.bottom_navigation_bar {
margin-left: auto;
margin-right: auto;
padding: 1%;
text-align: center;
clear: both;
color: white;
}



a:visited {
color: white;
}

.disclaimer {
text-align: center;
color: white;
}
